// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

@font-face {
    font-family: 'sofia_problack';
    src: url('../../fonts/sofia_pro_black_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_black_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_probold';
    src: url('../../fonts/sofia_pro_bold_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_bold_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_promedium';
    src: url('../../fonts/sofia_pro_medium_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_medium_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_proregular';
    src: url('../../fonts/sofia_pro_regular_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_regular_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_prolight';
    src: url('../../fonts/sofiapro-light.woff2') format('woff2'),
         url('../../fonts/sofiapro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-primary{
  &-black{ font-family: 'sofia_problack'!important; }
  &-bold{ font-family: 'sofia_probold'!important; }
  &-medium{ font-family: 'sofia_promedium'!important; }
  &-regular{ font-family: 'sofia_proregular'!important; }
  &-light{ font-family: 'sofia_prolight'!important; }
}

body{
  @extend .font-primary-regular;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  @extend .font-primary-medium;
}

.text-color-1{
  color: $textColor-1!important;
}

.lh-p8{
  line-height: .8!important;
}

.bg{
  &-dark{ background-color: $primary!important; }
  &-brand-1{ background-color: $brand-1!important; }
  &-brand-2{ background-color: $brand-2!important; }
  &-transparent{ background-color: transparent!important; }
  &-light{ @extend .bg-primary; }

  &-center{ background-position: center; }
  &-cover{ background-size: cover; }
}

.w-120px{
  width: $120px!important;
}

.rounded{
  &-10{ border-radius: $10px!important; }
  &-50{ border-radius: $50px!important; }
}

// Custom

.fields-v2{
  input{
    @extend .bg-brand-2;
    @extend .rounded-10;
  }
}

.navbar-light .navbar-nav{
  .nav-link{
    @extend .text-white;
  }
  .menu-item{
    @extend .px-4;
  }
}
