// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

$primary: #6676ef;
$primaryDark: #6676EF;

$brand-1: #26282B;
$brand-2: #1B1B1C;

$gray-1: #565656;
$gray-2: #8D92A3;

$textColor-1: #F1F1F1;

$4px: 4px;
$8px: 8px;
$10px: 10px;
$12px: 12px;
$14px: 14px;
$30px: 30px;
$50px: 50px;
$120px: 120px;
$450px: 450px;
