// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

@font-face {
    font-family: 'sofia_problack';
    src: url('../../fonts/sofia_pro_black_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_black_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_probold';
    src: url('../../fonts/sofia_pro_bold_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_bold_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_promedium';
    src: url('../../fonts/sofia_pro_medium_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_medium_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_proregular';
    src: url('../../fonts/sofia_pro_regular_az.woff2') format('woff2'),
         url('../../fonts/sofia_pro_regular_az.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_prolight';
    src: url('../../fonts/sofiapro-light.woff2') format('woff2'),
         url('../../fonts/sofiapro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-primary{
  &-black{ font-family: 'sofia_problack'!important; }
  &-bold{ font-family: 'sofia_probold'!important; }
  &-medium{ font-family: 'sofia_promedium'!important; }
  &-regular{ font-family: 'sofia_proregular'!important; }
  &-light{ font-family: 'sofia_prolight'!important; }
}

body{
  @extend .font-primary-regular;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  @extend .font-primary-medium;
}

p{
  @extend .mb-4;
}

.text{
  &-color-1{ color: $textColor-1!important; }
  &-gray-2{ color: $gray-2!important; }
  &-primary-dark{ color: $primaryDark!important; }
  &-a-white a{ @extend .text-white; }
}

.lh-p8{
  line-height: .8!important;
}

.bg{
  &-dark{ background-color: $primary!important; }
  &-brand-1{ background-color: $brand-1!important; }
  &-brand-2{ background-color: $brand-2!important; }
  &-brand-3{ background-color: $brand-3!important; }
  &-transparent{ background-color: transparent!important; }
  &-light{ @extend .bg-primary; }

  &-gray-3{ background-color: $gray-3!important; }

  &-center{ background-position: center; }
  &-cover{ background-size: cover; }
  &-bottom-center{ background-position: bottom center; }
}

.w{
  &-8px{ width: $8px!important; }
  &-12px{ width: $12px!important; }
  &-64px{ width: $64px!important; }
  &-120px{ width: $120px!important; }
  &-180px{ width: $180px!important; }
  &-450px{ width: $450px!important; }

  &-10{ width: 10%!important; }
  &-20{ width: 20%!important; }
  &-30{ width: 30%!important; }
  &-40{ width: 40%!important; }
  &-50{ width: 50%!important; }
  &-60{ width: 60%!important; }
  &-70{ width: 70%!important; }
  &-80{ width: 80%!important; }
  &-90{ width: 90%!important; }
}

.h{
  &-8px{ height: $8px!important; }
  &-12px{ height: $12px!important; }
  &-64px{ height: $64px!important; }
  &-130px{ height: $130px!important; }
  &-262px{ height: $262px!important; }
}

.rounded{
  &-8{ border-radius: $8px!important; }
  &-10{ border-radius: $10px!important; }
  &-50{ border-radius: $50px!important; }
}

.border{
  &-top-right-rounded-30{ border-top-right-radius: $30px!important }
  &-top-left-rounded-30{ border-top-left-radius: $30px!important }
  &-bottom-left-rounded-30{ border-bottom-left-radius: $30px!important }
  &-bottom-right-rounded-4{ border-bottom-right-radius: $4px!important }

  &-1 { border-width: $1px !important; }
  &-2 { border-width: $2px !important; }
  &-solid { border-style: solid !important; }
  &-gray-2 { border-color: $gray-2!important; }
  &-primary { border-color: $primary!important; }
  &-brand-1 { border-color: $brand-1!important; }

}

.duplicate-to-white{
  @extend .position-relative;
  &:before{
    @extend .position-absolute;
    @extend .h-100;
    @extend .w-100;
    @extend .top-0;
    @extend .start-0;
    @extend .border-top-right-rounded-30;
    @extend .border-top-left-rounded-30;
    @extend .border-bottom-left-rounded-30;
    @extend .border-bottom-right-rounded-4;
    @extend .bg-white;
    @extend .ms-1;
    @extend .mt-n1;
    content: '';
  }
}

.z-index{
  &-1{ z-index: 1!important; }
  &-11{ z-index: 11!important; }
}

.text{
  &-xs{ font-size: $12px!important; }
  &-sm{ font-size: $14px!important; }
}

.mt{
  &-n1{
    margin-top: -0.25rem !important
  }
  &-6{ margin-top: 3.5rem !important; }
  &-7{ margin-top: 4rem !important; }
  &-8{ margin-top: 4.5rem !important; }
  &-9{ margin-top: 5.5rem !important; }
  &-10{ margin-top: 6rem !important; }
  &-11{ margin-top: 6.5rem !important; }
  &-12{ margin-top: 7rem !important; }
  &-13{ margin-top: 7.5rem !important; }
  &-14{ margin-top: 8rem !important; }
  &-15{ margin-top: 8.5rem !important; }
}

.ms{
  &-n5{ margin-left: -3rem !important }
  &-n6{ margin-left: -3.5rem !important }
  &-n7{ margin-left: -4rem !important }
  &-n8{ margin-left: -4.5rem !important }
  &-n9{ margin-left: -5rem !important }
}

.box-shadow-none{
  box-shadow: none!important;
}

// Overrides

footer .menu-item .nav-link{
  @extend .py-0;
}

.wpml-ls-statics-footer,
.otgs-development-site-front-end{
  @extend .d-none;
}

.placeholder-text-gray-1::-webkit-input-placeholder {
  color: $gray-1!important;
}
.placeholder-text-gray-1::-moz-placeholder {
  color: $gray-1!important;
}
.placeholder-text-gray-1:-ms-input-placeholder {
  color: $gray-1!important;
}
.placeholder-text-gray-1:-moz-placeholder {
  color: $gray-1!important;
}

.wpcf7 form .wpcf7{
  &-not-valid-tip {
      @extend .text-white;
      @extend .text-xs;
      @extend .d-block;
      @extend .mt-2;
  }
  &-response-output{
    @extend .m-0;
    @extend .p-3;
    @extend .rounded-8;
    @extend .text-sm;
  }
  br,
  &-spinner{ @extend .d-none; }
}

.fields-v2{
  input[type="email"]{
    @extend .bg-brand-2;
    @extend .rounded-10;
    @extend .border-0;
    @extend .py-3;
    @extend .ps-3;
    @extend .pe-3;
    @extend .text-white;
    @extend .w-100;
    @extend .placeholder-text-gray-1;
  }
  input[type="submit"]{
    @extend .position-absolute;
    @extend .top-0;
    @extend .end-0;
    @extend .py-1;
    @extend .px-3;
    @extend .rounded-8;
    @extend .bg-primary;
    @extend .text-white;
    @extend .border-0;
    margin-top: 12px;
    margin-right: 12px;
  }
  .wpcf7-form p{
    @extend .position-relative;
  }
}

.fields-v3{
    label{ @extend .w-100; }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea{
      @extend .w-100;
      @extend .bg-transparent;
      @extend .border-1;
      @extend .border-solid;
      @extend .border-gray-2;
      @extend .rounded-8;
      @extend .px-3;
      @extend .text-white;
      @extend .py-2;
    }
    textarea{
      @extend .h-262px;
    }
    input[type="submit"]{
      @extend .bg-primary;
      @extend .w-100;
      @extend .rounded-8;
      @extend .border-0;
      @extend .py-2;
      @extend .text-white;
    }
    .wpcf7-radio{
      @extend .mb-4;
      @extend .d-block;
      [type="radio"]{
        @extend .position-absolute;
        opacity: 0;
        left: -9999px;
      }
      [type="radio"]:not(:checked) + span,
      [type="radio"]:checked + span{
        @extend .border-1;
        @extend .border-solid;
        @extend .border-primary;
        @extend .py-2;
        @extend .pe-3;
        @extend .rounded-8;
        @extend .position-relative;
        padding-left: 40px;
        &:before{
          @extend .border-2;
          @extend .border-solid;
          @extend .border-primary;
          @extend .w-12px;
          @extend .h-12px;
          @extend .rounded-circle;
          @extend .position-absolute;
          @extend .start-0;
          @extend .bottom-0;
          @extend .top-0;
          @extend .my-auto;
          @extend .ms-3;
          content: '';
        }
      }
      [type="radio"]:checked + span{
        @extend .bg-primary;
        &:before{
          @extend .border-brand-1;
        }
      }
    }
    .wpcf7-list-item.first{
      @extend .ms-0;
    }
}

.navbar-light .navbar-nav{
  .nav-link{
    @extend .text-white;
  }
  .menu-item{
    @extend .px-4;
  }
}

.btn-outline-light:focus {
    @extend .box-shadow-none;
  }
